---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "./../lib";

type Props = {
  blog: CollectionEntry<"blog">;
};

const { blog } = Astro.props;
const { slug, data } = blog;
const { title, date, description } = data;
---

<a
  href={`/${blog.collection}/${slug}`}
  class="blogCard group w-full relative flex flex-col border border-1 border-primary-300 dark:border-gray-500 hover:border-primary-100 rounded-md mb-[10px] delay-75"
>
  <div class="min-h-[20dvh] px-5 py-3">
    <h2
      class="mb-1 text-2xl font-medium transition ease-in text-primary-200 dark:text-txt-300"
    >
      {title}
    </h2>
    <p class="mb-5 font-light text-md text-primary-200 dark:text-txt-300">
      {formatDate(date)}
    </p>
    <p class="font-light text-md text-primary-200 dark:text-white">
      {description}
    </p>
  </div>
</a>
